<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Genres</title>
  <link rel="stylesheet" href="styles.css">  
</head>
<body>
  <%- include('../partials/header') %>
  <main class="general-info">
    <button><a href="/genres/add">Add</a></button>
    <table>
      <thead>
        <tr>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
        <% genres.forEach(genre => { %>
          <%- include('../partials/genreEntry', { genre: genre }) %>
        <% }) %>
      </tbody>
    </table>
  </main>
</body>
</html>