<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Developers</title>
  <link rel="stylesheet" href="styles.css">  
</head>
<body>
  <%- include('../partials/header') %>
  <main class="general-info">
    <button><a href="/developers/add">Add</a></button>
    <table>
      <thead>
        <tr>
          <th>Developer</th>
        </tr>
      </thead>
      <tbody>
        <% developers.forEach(developer => { %>
          <%- include('../partials/developerEntry', { developer: developer }) %>
        <% }) %>
      </tbody>
    </table>
  </main>

</body>
</html>