<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('../partials/header') %>
  <main class="general-info">
    <h2 class="game-by-category-title"><%= title %></h2>
    <table class="game-by-category-list">
      <thead>
        <tr>
          <th>Title</th>
          <th>Genres</th>
        </tr>
      </thead>
      <tbody>
        <% games.forEach(game => { %>
          <%- include('../partials/gameEntry', { game: game }) %>
        <% }) %>
      </tbody>
    </table>
  </main>
</body>
</html>